## Data불러오기(Raw Data 활용)

In [1]:
import pandas as pd
import numpy as np
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
import re
%matplotlib inline
plt.style.use('ggplot') # 그래프에서 격자로 숫자 범위가 눈에 잘 띄도록 ggplot 스타일을 사용
plt.rcParams['font.family'] = 'Malgun Gothic'

In [2]:
if 'google.colab' in str(get_ipython()):
    print('Running on CoLab')
    df = pd.read_excel('/content/drive/My Drive/빅데이터_콘테스트/base_line.xlsx', header=0)
else:
    print('Not running on CoLab')
    df = pd.read_excel('c:/bc/base_line.xlsx', header=0, sheet_name='original_data')

Not running on CoLab

In [3]:
df

,broadcast,exp_min,m_code,p_code,p_name,p_group,unit_price,total_price,sales,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,YEAR_DAY,DAY_NAME,DAY_NUM,code,no
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000,53,2019,1,1,6,0,0,2019-01-01,Tuesday,2,0,0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000,110,2019,1,1,6,0,0,2019-01-01,Tuesday,2,0,1
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000,82,2019,1,1,6,20,0,2019-01-01,Tuesday,2,0,2
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000,174,2019,1,1,6,20,0,2019-01-01,Tuesday,2,0,3
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000,167,2019,1,1,6,40,0,2019-01-01,Tuesday,2,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,2019-12-31 23:40:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000,69,2019,12,31,23,40,0,2019-12-31,Tuesday,2,6923,38299
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000,286,2020,1,1,0,0,0,2020-01-01,Wednesday,3,6924,38300
35376,2020-01-01 00:00:00,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000,621,2020,1,1,0,0,0,2020-01-01,Wednesday,3,6924,38301
35377,2020-01-01 00:00:00,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000,87,2020,1,1,0,0,0,2020-01-01,Wednesday,3,6924,38302
35378,2020-01-01 00:00:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000,315,2020,1,1,0,0,0,2020-01-01,Wednesday,3,6924,38303

# 파생변수 추가
## day_of_week_and_hour

In [4]:
df['day_of_week_and_hour'] = (df['DAY_NUM']-1)*24 + df['HOUR']

In [5]:
df

,broadcast,exp_min,m_code,p_code,p_name,p_group,unit_price,total_price,sales,YEAR,...,DAY,HOUR,MINUTE,SECOND,YEAR_DAY,DAY_NAME,DAY_NUM,code,no,day_of_week_and_hour
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000,53,2019,...,1,6,0,0,2019-01-01,Tuesday,2,0,0,30
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000,110,2019,...,1,6,0,0,2019-01-01,Tuesday,2,0,1,30
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000,82,2019,...,1,6,20,0,2019-01-01,Tuesday,2,0,2,30
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000,174,2019,...,1,6,20,0,2019-01-01,Tuesday,2,0,3,30
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000,167,2019,...,1,6,40,0,2019-01-01,Tuesday,2,0,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,2019-12-31 23:40:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000,69,2019,...,31,23,40,0,2019-12-31,Tuesday,2,6923,38299,47
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000,286,2020,...,1,0,0,0,2020-01-01,Wednesday,3,6924,38300,48
35376,2020-01-01 00:00:00,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000,621,2020,...,1,0,0,0,2020-01-01,Wednesday,3,6924,38301,48
35377,2020-01-01 00:00:00,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000,87,2020,...,1,0,0,0,2020-01-01,Wednesday,3,6924,38302,48
35378,2020-01-01 00:00:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000,315,2020,...,1,0,0,0,2020-01-01,Wednesday,3,6924,38303,48

## week of year

In [6]:
import datetime

tem_list = []
for i in range(len(df)):
    year = df['YEAR']
    month = df['MONTH']
    day = df['DAY']

    week_number = datetime.date(year[i], month[i], day[i]).isocalendar()[1]
    
    #  20년에 연결되는 12/30, 31일 53으로 표현
    if (month[i] == 12 and day[i] == 31) or (year[i] == 2020):
        week_number = 53
        
    tem_list.append(week_number)

In [7]:
df['52_week'] = tem_list

In [8]:
df

,broadcast,exp_min,m_code,p_code,p_name,p_group,unit_price,total_price,sales,YEAR,...,HOUR,MINUTE,SECOND,YEAR_DAY,DAY_NAME,DAY_NUM,code,no,day_of_week_and_hour,52_week
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000,53,2019,...,6,0,0,2019-01-01,Tuesday,2,0,0,30,1
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000,110,2019,...,6,0,0,2019-01-01,Tuesday,2,0,1,30,1
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000,82,2019,...,6,20,0,2019-01-01,Tuesday,2,0,2,30,1
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000,174,2019,...,6,20,0,2019-01-01,Tuesday,2,0,3,30,1
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000,167,2019,...,6,40,0,2019-01-01,Tuesday,2,0,4,30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,2019-12-31 23:40:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000,69,2019,...,23,40,0,2019-12-31,Tuesday,2,6923,38299,47,53
35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000,286,2020,...,0,0,0,2020-01-01,Wednesday,3,6924,38300,48,53
35376,2020-01-01 00:00:00,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000,621,2020,...,0,0,0,2020-01-01,Wednesday,3,6924,38301,48,53
35377,2020-01-01 00:00:00,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000,87,2020,...,0,0,0,2020-01-01,Wednesday,3,6924,38302,48,53
35378,2020-01-01 00:00:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000,315,2020,...,0,0,0,2020-01-01,Wednesday,3,6924,38303,48,53

## 주말, 공휴일 1로 표시, 평일 0으로 표시(holiday)

In [9]:
import requests
import xmltodict

In [10]:
month = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

total = {}
for i in month:
    service_key = 'JJC5IlOjBjhMwMvARvd2a0D3jVjHuA3DDvF1NZ27DH4pbq5Y1bzUmA0zYt6BOvI562qNa8Z87PlDLZZjYHA3YA%3D%3D'
    service_key_decode = requests.utils.unquote(service_key)

    req_params = {'ServiceKey' : service_key_decode, 'solYear' : '2019', 'solMonth' : i}
    req_url = 'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getHoliDeInfo'

    resp = requests.get(req_url, params =req_params)
    xml_data = resp.text
    dict_data = xmltodict.parse(xml_data)

    if dict_data ['response']['body']['items'] is not None:
        data = dict_data ['response']['body']['items']['item']

        total[i] =  data

month_1 = ['01', '03', '06', '08', '12']

공휴일 = []
for  mon in month:
    if mon in month_1 :
        date = total[mon]['locdate']
        holiday = total[mon]['isHoliday']
        공휴일.append(date)

month_2 = ['02', '05', '09', '10']
for mon in month:
    if mon in month_2 :
        len_mon = len(total[mon])
        for d in range(len_mon):
            date = total[mon][d]['locdate']
            holiday = total[mon][d]['isHoliday']
            공휴일.append(date)
            
공휴일 = pd.to_datetime(공휴일, format='%Y-%m-%d', errors='raise')

In [11]:
공휴일

DatetimeIndex(['2019-01-01', '2019-03-01', '2019-06-06', '2019-08-15',
               '2019-12-25', '2019-02-04', '2019-02-05', '2019-02-06',
               '2019-05-05', '2019-05-06', '2019-05-12', '2019-09-12',
               '2019-09-13', '2019-09-14', '2019-10-03', '2019-10-09'],
              dtype='datetime64[ns]', freq=None)

In [12]:
def holiday(date):  
    if date in 공휴일 :
        holi = 1
    else:
        holi = 0
    return holi

In [13]:
df['공휴일'] = df['YEAR_DAY'].map(lambda x : holiday(x))

In [14]:
def weekend(day_name):
    if day_name in ['Saturday', 'Sunday']:
        holiday =  1
    else :
        holiday = 0
    return holiday

In [15]:
df['weekend'] = df['DAY_NAME'].map(lambda x : weekend(x))

In [16]:
쉬는날 = []
weekend = df['weekend']
holi = df['공휴일']

for i in range(len(df)):
    if weekend[i] == 1 or holi[i] == 1 :
        쉬는날.append(1)
    else:
        쉬는날.append(0)

In [17]:
del df['weekend']
del df['공휴일']
df['holiday'] = 쉬는날

In [54]:
df.loc[df['YEAR_DAY'] == '2020-01-01']['holiday']

35375    0
35376    0
35377    0
35378    0
Name: holiday, dtype: int64

# 브랜드 이름 추가

In [34]:
data = df

In [35]:
건강기능 =data[data['p_group'] == '건강기능']
생활용품 =data[data['p_group'] == '생활용품']
침구 =data[data['p_group'] == '침구']
주방 =data[data['p_group'] == '주방']
가전 =data[data['p_group'] == '가전']
가구 =data[data['p_group'] == '가구']
이미용 =data[data['p_group'] == '이미용']
농수축 =data[data['p_group'] == '농수축']
잡화 =data[data['p_group'] == '잡화']
속옷= data[data['p_group'] == '속옷']
의류=data[data['p_group'] == '의류']

In [36]:
p_group_name = ['의류', '속옷', '농수축', '이미용', '가전', '가구', '침구', '생활용품', '잡화', '건강기능', '주방']

In [37]:
for group in p_group_name :
    
    if group == '건강기능':
        p_name = 건강기능['p_name']
        
        brand_name_list = []
        for name in p_name:
            brand_name = re.sub('(일시불)|(무이자)|\((.*?)\)|(특집)|(단하루)','', name)
            brand_name = re.sub('[\[\]\"]', " ", str(brand_name))
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]

            brand_name = brand_name.replace('광동제약', '광동')
            brand_name = brand_name.replace('광동', '광동제약')

            brand_name = brand_name.replace('100%리얼착즙석류', '100%리얼')
            brand_name = brand_name.replace('100%리얼', '100%리얼착즙석류')

            brand_name = brand_name.replace('통째로', '통째로 착즙한 루비 석류즙 84포')
            brand_name = brand_name.replace('모나코사놀', '뉴트리원')
            brand_name = brand_name.replace('한삼인순홍삼진7박스', '한삼인')

            brand_name_list.append(brand_name)
        건강기능['brand_name'] = brand_name_list
        
    elif group == '생활용품':
        p_name = 생활용품['p_name']
        brand_name_list = []
        for name in p_name:
            brand_name = re.sub('(\((.*?)\))|(초특가)|(일시불)|(무이자)|(일\))|(무\))|(\[(.*?)\])|(1+1)|(ALL)|(파격가)|(1\+1)|(2019년)','', name)
            brand_name = re.sub('(1세트)|(완벽더블구성)|(국내제작)|(국내제조)|(D\))|(5세트)|(가\))|(KF94)|(기본구성)|(한세트)|(New)','', brand_name)

            brand_name = re.sub('[\[\]]', " ", brand_name)
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]

            brand_name = brand_name.replace('보국미니히터BKH-1083P+BKH-1083P','보국미니히터')
            brand_name = brand_name.replace('보국미니히터BKH-1083P','보국미니히터')
            brand_name = brand_name.replace('까사마루행거', '까사마루')


            brand_name = brand_name.replace('붙이는', '붙이는 따스림')
            brand_name_list.append(brand_name)
        생활용품['brand_name'] = brand_name_list
        
    elif group == '침구':
        p_name = 침구['p_name']
        brand_name_list = []
        for name in p_name:

            brand_name = re.sub('(\(일\))|(\(무\))|(일\))|(무\))','', name)
            brand_name = re.sub('[\[\]]', " ", brand_name)
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]
            brand_name = brand_name.replace('리앤코리아', '리앤')
            brand_name_list.append(brand_name)
        침구['brand_name'] = brand_name_list
        
    elif group == '주방':
        p_name = 주방['p_name']
        brand_name_list = []
        for name in p_name:

            brand_name = re.sub('(일시불)|(무이자)|(\((.*?)\))|(19년)|(2019년형)|([0-9]세트)', '', name)
            brand_name = re.sub('(국내생산)|(국내제조)|(신제품)|(프랑스직수입)|(서장훈의)', '', brand_name)
            brand_name = re.sub('[\[\]]', " ", str(brand_name))
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]

            brand_name = brand_name.replace('쿠쿠전기밥솥', '쿠쿠')
            brand_name = brand_name.replace('쿠첸압력밥솥', '쿠첸')
            brand_name = brand_name.replace('쿠첸인버터전자레인지', '쿠첸')

            brand_name = brand_name.replace('해피콜IH양면팬', '해피콜')
            brand_name = brand_name.replace('해피콜엑슬림블렌더', '해피콜')  
            brand_name = brand_name.replace('휴롬퀵스퀴저', '휴롬')
            brand_name_list.append(brand_name)
        주방['brand_name'] = brand_name_list
        
    elif group == '가전':
        p_name = 가전['p_name']
        brand_name_list = []
        for name in p_name:

            brand_name = re.findall('(LG)|(삼성)|(대우전자)|(캐리어)|(딤채)', name)
            brand_name = re.sub('[\'\'\,\[\]\(\)]', '', str(brand_name))
            brand_name = brand_name.strip()
            brand_name = brand_name.replace('삼성    LG', 'LG')
            brand_name_list.append(brand_name)
        가전['brand_name'] = brand_name_list
        
    elif group == '가구':
        p_name = 가구['p_name']
        brand_name_list = []
        for name in p_name:

            brand_name = re.sub('(\(일\))|(\(무\))|(일\))|(무\))|(\[SET\])|(뉴)|(\(무\)[0-9]인용)|([0-9]인용)','', name)
            brand_name = re.sub('[\[\]]', " ", brand_name)
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]
            brand_name_list.append(brand_name)
        가구['brand_name'] = brand_name_list
        
    elif group == '이미용':
        p_name = 이미용['p_name']
        brand_name_list = []
        for name in p_name:

            brand_name = re.sub('(\(무이자\))|(NEW프리미엄)|(\(일시불\))|(\[라쉬반\］)|(\[완벽더블\])|(초특가\))','', name)
            brand_name = re.sub('[\[\]]', " ", brand_name)
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]
            brand_name = brand_name.replace('TS샴푸/트리트먼트(추가)', 'TS')
            brand_name = brand_name.replace('TS샴푸세트(추가)', 'TS')   
            brand_name_list.append(brand_name)
        이미용['brand_name'] = brand_name_list
        
    elif group == '농수축':
        p_name = 농수축['p_name']
        brand_name_list = []
        for name in p_name:

            brand_name = re.sub('(\(무이자\))|(NEW프리미엄)|(\(일시불\))|(\[라쉬반\))|(특등급)|(\[완벽더블\])|(초특가\)|(\(a4\))|(가격인하)|(19년)|(사용불가))','', name)
            brand_name = re.sub('[\[\]]', " ", brand_name)
            brand_name = brand_name.replace('하림뼈없는양념닭발세트', '하림')
            brand_name = brand_name.replace('AAC한우소머리곰탕양곰탕세트', 'AAC')
            brand_name = brand_name.replace('맛있는', '맛있는제주')
            brand_name = brand_name.replace('맛있는', '맛있는제주')
            brand_name = brand_name.replace('더커진거창사과', '거창사과')
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]
            brand_name_list.append(brand_name)
        농수축['brand_name'] = brand_name_list
        
    elif group == '잡화':
        p_name = 잡화['p_name']
        brand_name_list = []
        for name in p_name:

            brand_name = re.sub('(\(무\))|(\(일\))|(무이자)|(일시불)|(2019)|(S/S)', '', name)
            brand_name = re.sub('[\[\]]', " ", brand_name)
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]
            brand_name_list.append(brand_name)
        잡화['brand_name'] = brand_name_list
        
    elif group == '속옷':
        p_name = 속옷['p_name']
        brand_name_list = []
        for name in p_name:
            brand_name = re.sub('[\[\]\(\)］]', " ", name)
            brand_name = re.sub('(ARS10%)|(무이자)|(세일20%)|(일시불)|(완벽더블)|(초특가)', '', brand_name)
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]
            brand_name_list.append(brand_name)
        속옷['brand_name'] = brand_name_list
        
    elif group == '의류':
        p_name = 의류['p_name']
        brand_name_list = []
        for name in p_name:
            brand_name = re.sub('(화이트라벨)|(19 SS)|([0-9])|([\[\]]|(F/W)|(FW))', '', str(name))
            brand_name = brand_name.strip()
            brand_name = brand_name.split(' ')[0]
            brand_name_list.append(brand_name)
        의류['brand_name'] = brand_name_list
    
    else:
        break

C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:156: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# 브랜드 파워(?)

In [40]:
p_group_name = [의류, 속옷, 농수축, 이미용, 가전, 가구, 침구, 생활용품, 잡화, 건강기능, 주방]

In [41]:
for c in p_group_name:
    #c_data =data[data['p_group'] == c]
    
    c_grouped = c.groupby('brand_name').sum()
    c_grouped['1분당 판매개수'] = c_grouped['sales'] / c_grouped['exp_min']
    c_dict = c_grouped[['1분당 판매개수']].sort_values('1분당 판매개수', ascending=False).to_dict()
    
    
    p_name = c['brand_name']
    c['brand_power'] = [c_dict['1분당 판매개수'][i] for i in p_name]

C:\Users\hyeryeon\.conda\envs\python36\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [44]:
result_all = pd.concat([의류, 속옷, 농수축, 이미용, 가전, 가구, 침구, 생활용품, 잡화, 건강기능, 주방])
data = result_all.sort_values('broadcast')

In [46]:
data.to_excel('c:/bc/base_line_hyeryeon.xlsx', encoding='utf-8', sheet_name='original_data')